*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
        background-image:url(pexels-photo-531880.jpeg) ;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 4in;
       
        /* opacity: 0.5; */
    
}
.fizz{
    border: 1px solid rgb(226, 171, 171);
    width: 350px;
    height: 45vh;
    margin-top: 200px;
    justify-content: center;
    backdrop-filter: blur(25px);
    border-radius: 30px;
}
#a{
    height: 40px;
    width: 180px;
    margin-top: 80px;
    margin-left: 10px;
    outline: none;
    font-size: 20px;
    padding-left: 20px;
}
#check{
    height: 40px;
    width: 80px;
    margin-top: 80px;
    margin-left: -20px;
    background-color: brown;
    font-size: 15px;
    color: aliceblue;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
#check:hover{
    background-color: rgb(8, 88, 28);
    animation-delay: 5s;
}
#show{
    background-color: aliceblue;
    width: 160px;
    height: 40px;
    margin-top: 20px;
    padding-top: 10px;
    font-size: 20px;
}
@media screen and (max-width: 482px) {
    body{
    
        background-image:url(pexels-photo-531880.jpeg) ;
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
         height: 5in;
 }
    .fizz{
        border: 1px solid rgb(226, 171, 171);
        width: 350px;
        height: 40vh;
        padding-top: 10px;
        margin-top: 170px;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(25px);
        border-radius: 30px;
}
    .buzz{
        padding-top: 20px;
    }
    #a{
    height: 40px;
    width: 180px;
    margin-top: 20px;
    margin-left: 15px;
    outline: none;
    font-size: 20px;
    padding-left: 20px;
}
    #check{
    height: 40px;
    width: 80px;
    margin-top: 10px;
    
    
}
}